.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #0B3C49;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font-family: 'Trirong';
  margin: 0;
  text-align: left;
  padding-left: .5em;
}

.App-background {
  background-image: url('../../assets/music-listening-bar.jpg');
  background-size:cover;
  height: 100%;
}

main {
  height: 100%;
  font-family: 'Rubik';
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
